
src/lucky/Home 2.mp4
src/lucky/Home 3.mp4
src/lucky/Home 4.mp4
src/lucky/Home 5.mp4
src/lucky/Mobile 1(1).mp4
src/lucky/Mobile 1.mp4
src/lucky/Mobile 2.mp4
src/lucky/Mobile 3.mp4
src/lucky/Mobile 4.mp4
src/lucky/Mobile 5.mp4
src/lucky/screenshot_1.jpg
src/lucky/screenshot_2.jpg
src/lucky/screenshot_3.jpg
src/lucky/screenshot_4.jpg
src/lucky/web1.webp
buttons_about_hover.png
buttons_back_hover.png
buttons_contact_hover.png
buttons_linkedin_hover.png
