html {
	font-family: Roboto, sans-serif;
	color: #707070;
	text-align: center;
	margin: auto;
	font-size: 16pt;
}

header {
	width: 100%;
	border-width: 2px black;
}

.container {
	padding: 30px;
	font-size: 14pt;
	width: 1440px;
}

img {
	width: 100%;
	height: auto;
	padding: 10px;
}

.button:hover a {
	background-color: #FFF;
	color: #707070
}

.button a {
	background-color: #707070;
	padding: 10px;
	text-align: center;
	color: #FFF;
	margin: auto;
	width: 100%;
	font-size: 12pt;
}

@media only screen and (max-width: 768px) {
	.container {
	display: block;
	}
}