@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;700;900&display=swap');

*{
	font-family: 'Lexend', Montserrat, sans-serif;
}

html {

}

.wrap {
	height: 64px !important;
	width: 100%;
}

.windowborder {
	z-index: 5;
	object-fit: cover;
	float: right;
}

.copy {
	font-size: 0.55em;
}

.all {
	margin: auto;
	width: 80%;
	height: 80%;
	top: 64px;
}

@media screen and (max-width:900px) {
	.all {
		width: 100%;
		height: auto;
	}

	.logo img {
		width: 50%;
		height: auto;
	}

	.windowborder {
		width: auto !important;
		height: 64px;
	}

}

body {
	background: white url('bg.png') repeat;
	background-size: 10%;
	cursor: url('cursor.png'), auto;
}

.stapely {
	z-index: 5;
	background: #fef2da;
	border: 1px solid black;
	font-size: .8em;
}

div {
	text-align: left;
	margin: auto;
}

h1, h2 {
	font-weight: bold;
}

main, header, footer {
	margin: auto;
	text-align: center;
	background-color: white;
}

.logo img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 100%;
}

.container {
	font-size: 1.2em;
}

.learn {
	width: 80%;
	padding: 36px;
	border: 1px solid black;
	margin: auto;
}

img:not(.windowborder), video * {
	max-width: 100%;
	height: auto;
	margin:auto;
}

video::cue {
  font-size: 4rem;
}

.zoom:hover {
	transform: scale(1.005, 1.005);
	border: 1px solid #4D5A61;
}

a {
	text-decoration: underline;
	padding: 12px;
	text-align: center;
	font-weight: bolder;
	background-size: 100%;
}

a:hover {
	border: 0px hidden #FFF;
}
