html {
	font-family: Roboto, sans-serif;
	color: #707070;
	text-align: center;
	margin: auto;
	font-size: 16pt;
}

header {
	width: 100%;
	border-width: 2px black;
}

.container {
	padding: 30px;
	font-size: 14pt;
	width: 1440px;
}

img, video {
	width: 100%;
	height: auto;
	padding: 10px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

figcaption:hover a {
	background-color: #FFF;
	color: #707070
}

figcaption a {
	background-color: #707070;
	padding: 10px;
	text-align: center;
	color: #FFF;
	margin: auto;
	width: 100%;
	font-size: 12pt;
}
